{
  "env": {
    "browser": true,
    "node": true,
    "es2017": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  //グローバルオブジェクト
  "parserOptions": {
    "ecmaVersion": 2017, //envのやつが自動で設定されるので書く必要なし。
    "sourceType": "module"
  },
  "globals": {
    "jQuery": "readonly", //writeable readonlyは変更不可。
    "$": "readonly"
  },
  //個別のカスタマイズ
  "rules": {
    "no-undef": "off",
    "semi": [
      "error",
      "always",
      { "omitLastInOneLineBlock": true }
    ]
  }
}
