h1 {
  font-size: 2em;
  transition: all 0.3s;
  color: blue;

  &:hover {
    transform: translateX(50px);
    backdrop-filter: blur(2px);
    color: green($color: #000000);
  }
}

.bg {
  background-image: url('./images/favicon.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}
